global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'telegram'

receivers:
- name: 'telegram'
  telegram_configs:
  - bot_token: '7769020692:AAHcw3raoMSWMxzhasx9gJ4SLsOL5NoAt7c'
    chat_id: 1171267236
    parse_mode: 'HTML'
    message: |
      {% raw %}{{ if eq .Status "firing" }}{% endraw %}
      🔥 <b>告警触发</b>
      <b>告警级别:</b> {% raw %}{{ .CommonLabels.severity }}{% endraw %}
      <b>告警名称:</b> {% raw %}{{ .CommonLabels.alertname }}{% endraw %}
      <b>告警主机:</b> {% raw %}{{ .CommonLabels.instance }}{% endraw %}
      <b>告警详情:</b> {% raw %}{{ .CommonAnnotations.description }}{% endraw %}
      <b>触发时间:</b> {% raw %}{{ .StartsAt.Format "2006-01-02 15:04:05" }}{% endraw %}
      {% raw %}{{ else }}{% endraw %}
      ✅ <b>告警恢复</b>
      <b>告警级别:</b> {% raw %}{{ .CommonLabels.severity }}{% endraw %}
      <b>告警名称:</b> {% raw %}{{ .CommonLabels.alertname }}{% endraw %}
      <b>告警主机:</b> {% raw %}{{ .CommonLabels.instance }}{% endraw %}
      <b>恢复时间:</b> {% raw %}{{ .EndsAt.Format "2006-01-02 15:04:05" }}{% endraw %}
      {% raw %}{{ end }}{% endraw %}

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance'] 