[Unit]
Description=PHP-FPM Exporter
After=network.target

[Service]
Type=simple
User=php-fpm-exporter
Group=php-fpm-exporter
ExecStart=/usr/local/bin/php-fpm-exporter --phpfpm.scrape-uri=http://localhost:{{ php_available_versions[php_default_version].status_port }}/status
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 