[Unit]
Description=PHP-FPM Exporter
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/php-fpm_exporter server --phpfpm.scrape-uri=unix:///run/php/php{{ php_default_version }}-fpm.sock;/status --config.file=/etc/php-fpm_exporter.yaml
Restart=always

[Install]
WantedBy=multi-user.target 