[Unit]
Description=Nginx Prometheus Exporter
Documentation=https://github.com/nginx/nginx-prometheus-exporter
After=network.target

[Service]
User=nginx-exporter
Group=nginx-exporter
Type=simple
ExecStart=/usr/local/bin/nginx-exporter \
    -nginx.scrape-uri=http://localhost:8080/stub_status

Restart=always

[Install]
WantedBy=multi-user.target 